*{
    margin: 0;
    padding: 0;
}

.container {
    width: 86%;
    height: 100%;
  
    background-color:blueviolet;
    padding:100px;
    
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color:black;
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    text-align: center;
    font-size: 25px;
  }
  
  h1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 20px;
    border: 5px solid black;
    font-weight: 1000;
    font-size: 50px;
  }
  
  form{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 5px solid black;
    border-radius: 30px;

  }